<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>admin dashboard</h1>
    <p style="color: red;"> this page is only allowed for admin</p>
    <h2>Welcome Back Admin Id : {{adminId}}</h2>

     <a href="/adminLogout"><button >LOG OUT</button></a>
</body>
</html>