<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin password reset</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
   <style>
    .custom-height{
        height: 500px;
    }
    .text-success{
      color: green !important;
    }
   </style>  
</head>
  <body  style="background-color: #196b75;">
    <div class="container  " style="margin-top: 100px !important; background-color: #196b75;">
    
        <div class="row justify-content-md-center">
          <div class="col-lg-5 col-md-6  p-5 rounded-2 " style="background: #35242459;">
            <h4 class="mb-4" style="color: white;"> Admin Password RESET</h4>
              <div class="mb-3">
                <label for="inputEmail" class="form-label" style="color: white;">Registered Email</label>
                <input  type="email" class="form-control" id="inputEmail" placeholder="Enter your email" required>
                <small id="mailError" class="text-danger">{{mailError}}</small>            
              </div>
              <button id="submit" type="submit" class="btn btn-dark" onclick="submitEmail()">Submit</button>
              <div class="mb-3 mt-4">
                <label for="inputOTP" class="form-label" style="color: white;">OTP Verification</label>
                <input type="text" class="form-control" id="inputOTP" placeholder="Enter OTP" required>
                <small id="otpHelp" class="form-text text-danger"></small>
              </div>
  
              <button id="verify" disabled type="submit" class="btn btn-dark" onclick="passwordVerify()">Verify</button>
        
          </div>
        </div>
      </div>
     <script>

      async function submitEmail() {
        try{
             let mail =  document.getElementById('inputEmail').value;
            if (!/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(mail)) {
               return document.querySelector("#mailError").innerHTML = "Valid Mail Id Required "
             } else {
                document.querySelector("#mailError").innerHTML = ""
             }  
            
            //POST METHOD OF PASSWORD RESET
            let response = await axios.post('/admin/passwordReset',{mail})
            if(response.data.invalidEmail){
              document.querySelector("#mailError").innerHTML = "User DoesNot Exist"
               console.log('User DoesNot Exist')
            }else{
              document.getElementById('verify').disabled = false;
              document.getElementById('submit').disabled = true;
                document.querySelector("#mailError").classList.add('text-success');
               document.querySelector("#mailError").innerHTML = "Please check Your Mail For OTP"
                document.getElementById('submit').textContent='Resend'
               startCountDown(60);         
    
            }

        }catch(error){
            console.error(error);
        } 
        }
      
      //COUNT DOWN TIMER SETTING FUNCTION
      async  function startCountDown (seconds){
          let timer=seconds;
          const countdownElement = document.querySelector("#mailError")
          const countdownInterval = setInterval(function () { //IN DOWN MENTIONED 1000 MS MEANS SETINTERVAL WORKS IN 1SECONDS 
            timer --; //IT WIL DECREMENT THE TIMER 1 BY IN EACH SECONDS
            if(timer<0){ //IT WILL WORK UP TO 60 TIMES
              clearInterval(countdownInterval) //CALL OFF SET INTERVAL FUNCTION
              countdownElement.innerHTML = "OTP Expired"
                document.getElementById('submit').disabled = false;
                 document.getElementById('verify').disabled = true;
            }else{
              countdownElement.innerHTML = `Resend OTP in ${timer} seconds`;
            }
          },1000) //1000MS MEANS 1 SECOND
        }


      async function passwordVerify(){
        try{
          let otp = document.getElementById('inputOTP').value;

          //POST METHOD OF PASSWORD RESET
          let response = await axios.post('/admin/passwordVerify',{otp})
          if(response.data.verified){
            document.querySelector("#otpHelp").innerHTML=""
            window.location.href='/admin/NewPassword'
          }else{
            document.querySelector("#otpHelp").innerHTML="invalid OTP"
          }
          
        }catch(error){
          console.log(error)
        }
      }

     </script>

      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>