<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin Login Page</title>
    <!-- loader-->
    <link href="assets/css/pace.min.css" rel="stylesheet" /> 
    {{!-- <script src="assets/js/pace.min.js"></script> --}}
    <!--favicon-->
    <link rel="icon" href="assets/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Custom Style-->
    <link href="assets/css/app-style.css" rel="stylesheet" />

</head>

<body style="background-color: #196b75;display: flex;text-align: center;align-items: center;">

    <!-- Start wrapper-->
    <div id="wrapper">
        <div class="card card-authentication1 mx-auto my-5">
            <div class="card-body">
                <div class="card-content p-2">
                    <div class="text-center">
                        <img src="assets/images/logo-icon.png" alt="logo icon">
                    </div>
                    <div class="card-title text-uppercase text-center py-3">Admin Sign In</div>
                         <p id="display" style="color: green; text-align: center; "></p>
                    <form action="adminLogin" method="post">
                        <div class="form-group">
                            <label for="exampleInputUsername" class="sr-only" >Username</label>
                            <div class="position-relative has-icon-right">
                                <input type="text" placeholder="Admin User Name" class="form-control input-shadow input" name="userName" value="{{adminName}}" style="margin-bottom: 5px;">
                                  <small style="color: color(srgb 0.98 0.27 0.27);padding: 3px;margin-left: -205px;font-size: smaller;">{{name}}</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword" class="sr-only">Password</label>
                            <div class="position-relative has-icon-right">
                                <input type="password" id="exampleInputPassword" placeholder="Password" class= "form-control input-shadow password" name="password" value="{{adminpassword}}" style="margin-bottom: 5px;" >
                                <div class="form-control-position" onclick="visibility()">
                                    <i class="icon-lock"></i>
                                </div>
                                <small style="color: color(srgb 0.98 0.27 0.27);padding: 3px;margin-left: -210px;font-size: smaller;">{{password}}</small>

                            </div>
                        </div>
                        <div class="form-row" >
                            {{!-- <div class="form-group col-6">
                                <div class="icheck-material-white">
                                    <input type="checkbox" id="user-checkbox" checked="" />
                                    <label for="user-checkbox">Remember me</label>
                                </div>
                            </div> --}}
                            <div class="form-group col-6 "style="display:flex">
                                <a href="/admin/passwordReset">Forgot Password</a>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-light btn-block">Sign In</button>

                        {{!-- <div class="text-center mt-3">Sign In With</div>
                        <div class="form-row mt-4">
                            <div class="form-group mb-0 col-6">
                                <button type="button" class="btn btn-light btn-block"><i
                                        class="fa fa-facebook-square"></i> Facebook</button>
                            </div>
                            <div class="form-group mb-0 col-6 text-right">
                                <button type="button" class="btn btn-light btn-block"><i
                                        class="fa fa-twitter-square"></i> Twitter</button>
                            </div>
                        </div> --}}

                    </form>
                </div>
            </div>
            {{!-- <div class="card-footer text-center py-3">
                <p class="text-warning mb-0">Do not have an account? <a href="register.html"> Sign Up here</a></p>
            </div> --}}
        </div>





    </div><!--wrapper-->

 {{!-- Bootstrap core JavaScript --}}
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- sidebar-menu js -->
    <script src="assets/js/sidebar-menu.js"></script>

    <!-- Custom scripts -->
    <script src="assets/js/app-script.js"></script> 



    {{!-- CUSTOM JS --}}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      //  window.onload =() => alert("hrlo")

        function visibility(){
        const typeInverese=document.getElementById('exampleInputPassword').getAttribute('type') === 'password' ? 'text' : 'password';
        document.getElementById('exampleInputPassword').setAttribute('type',typeInverese)
        }

    </script>

</body>
</html>
