<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin New Password</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
  <style>
    .custom-height {
      height: 500px;
    }

    .text-success {
      color: green !important;
    }
  </style>
</head>

<body class="bg-primary mt-4">
  <div class="container mt-5 bg-primary" style="margin-top: 200px !important;">

    <div class="row justify-content-md-center">
      <div class="col-lg-5 col-md-6 bg-white p-5 rounded-2 ">
        <h4 class="mb-4"> <i> Set New Password For Admin </i></h4>
        <div class="mb-3">
          <label for="inputPassword" class="form-label">New Password</label>
          <div class="d-flex">
            <input type="password" class="form-control" id="inputPassword" placeholder="Enter your Password" required>
            <button class="btn btn-outline-secondary" type="button" id="togglePassword1">
              <i class="bi bi-eye"></i>
            </button>
          </div>

          <small id="passwordError" class="text-danger"></small>
        </div>

        <div class="mb-3 mt-4">
          <label for="reInputPassword" class="form-label">Repeat Password</label>
          <div class="d-flex">
            <input type="password" class="form-control" id="reInputPassword" placeholder="Repeat Password" required>
            <button class="btn btn-outline-secondary" type="button" id="togglePassword2">
              <i class="bi bi-eye"></i>
          </div>
          <small id="rePasswordError" class="form-text text-danger"></small>
        </div>

        <button id="submit" type="submit" class="btn btn-primary" >Submit</button>
       

      </div>
    </div>
  </div>
  <script>

    //PASSWORD VISIBILITTY
    document.getElementById('togglePassword1').addEventListener('click', function () {
      togglePasswordVisibility('inputPassword');
    });

    document.getElementById('togglePassword2').addEventListener('click', function () {
      togglePasswordVisibility('reInputPassword');
    });

    function togglePasswordVisibility(inputId) {
      const passwordInput = document.getElementById(inputId);
      const typeInverse = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
      passwordInput.setAttribute('type', typeInverse);
    }
    //PASSWORD VISIBILITTY END



     document.getElementById('submit').addEventListener('click', function () {
     let password1 =document.getElementById('inputPassword').value
     let password2 =document.getElementById('reInputPassword').value
     
     let isPasswordValid = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{8,}$/.test(password1)
     if(!isPasswordValid){
       document.getElementById('passwordError').innerHTML="More Than 6 Characters with Atleast One Number,Small And Capital Letters Are Required"
     }else{
       document.getElementById('passwordError').innerHTML=""
         if(password1===password2){
           document.getElementById('rePasswordError').innerHTML=""
           submit();
           
     }else{
      document.getElementById('rePasswordError').innerHTML="Password Miss Match"

     }
     }
    });
   


  
  async function submit(){
    try{
   let password =document.getElementById('inputPassword').value
   let response = await axios.post('/admin/NewPassword',{password})
   console.log('Response from server:', response);
   if(response.data.success){
    console.log('password changed successfully')
    window.location.href='/adminLogin?display=true';

   }else{
    console.log('cant change password right now')
    window.location.href='/admin/passwordReset'
   }
   
    }catch(error){
      console.error(error)
    }
   }


  </script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>