
        <!--Start sidebar-wrapper-->
        <div id="sidebar-wrapper" data-simplebar="" data-simplebar-auto-hide="true">
            <div class="brand-logo">
                <a href="index.html">                
                    <h5 class="logo-text">Admin</h5>
                     <img style="width: 90px;margin-left: 70px; " src="/images/newLogo.png" class="logo-icon" alt="logo icon">
                </a>
            </div>
            <ul class="sidebar-menu do-nicescrol">
                <li class="sidebar-header">MAIN NAVIGATION</li>
                <li>
                    <a href="/admin/dashboard">
                        <i class="zmdi zmdi-balance-wallet"></i><span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/ViewCategory">
                       <i class="zmdi zmdi-assignment"></i><span>Category</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/ViewSubCategory">
                        <i class="zmdi zmdi-format-list-bulleted"></i><span>Sub Category</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/ViewBrand">
                       <i class="zmdi zmdi-group"></i><span>Brands</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/ViewBanner">
                        <i class="zmdi zmdi-book-image"></i><span>Banner Management</span>
                        {{!-- <small class="badge float-right badge-light">New</small> --}}
                    </a>
                </li>

                <li>
                    <a href="/admin/ViewProduct">
                        <i class="zmdi zmdi-view-dashboard"></i><span>Products</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/userList">
                        <i class="zmdi zmdi-male-alt"></i><span>Users</span>
                    </a>
                </li>

                <li>
                    <a href="/admin/vendorList">
                        <i class="zmdi zmdi-balance"></i><span>Vendors</span>
                    </a>
                </li>


                <li>
                    <a href="/admin/ViewProduct">
                        <i class="zmdi zmdi-assignment-check"></i><span>Total Orders</span>
                    </a>
                </li>

                {{!-- <li class="sidebar-header">LABELS</li>
                <li><a href="javaScript:void();"><i class="zmdi zmdi-coffee text-danger"></i> <span>Important</span></a>
                </li>
                <li><a href="javaScript:void();"><i class="zmdi zmdi-chart-donut text-success"></i>
                        <span>Warning</span></a></li>
                <li><a href="javaScript:void();"><i class="zmdi zmdi-share text-info"></i> <span>Information</span></a>
                </li> --}}

            </ul>

        </div>
        <!--End sidebar-wrapper-->
