      <a href="javaScript:void();" class="back-to-top"
        ><i class="fa fa-angle-double-up"></i>
      </a>
      <!--End Back To Top Button-->

      <!--Start footer-->
      <footer class="footer">
        <div class="container">
          <div class="text-center">Copyright © 2018 Dashtreme Admin</div>
        </div>
      </footer>
      <!--End footer-->

     


      <div class="overlay toggle-menu"></div>