	
		{{!-- BRANDS --}}
		<div class="colorlib-partner">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
						<h2>Trusted Partners</h2>
					</div>
				</div>
				<div class="row" style="row-gap: 50px;">
					{{#each brands}}
					<div class="col-12 col-md-6 col-lg-3 text-center">
						<img src="{{this.brandImage}}" class="img-fluid" alt="{{this.brandName}}">

					</div>
					{{/each}}
				</div>
			</div>
		</div>
		{{!-- BRANDS END --}}
    
    
    {{!-- FOOTER --}}
		<footer id="colorlib-footer" role="contentinfo">
			<div class="container">
				<div class="row row-pb-md">
					<div class="col footer-col colorlib-widget">
						<h4>About ShoeZilla</h4>
						<p>Explore our curated shoe collection, blending style and comfort to elevate your fashion with
							every step</p>

					</div>
					<div class="col footer-col colorlib-widget">
						<h4>Customer Care</h4>
						<p>
						<ul class="colorlib-footer-links">
							<li><a href="#">Contact</a></li>
							<li><a href="#">Customer Services</a></li>
							<li><a href="#">Site maps</a></li>
						</ul>
						</p>
					</div>
					
                    <div class="col footer-col colorlib-widget">
						<h4>Information</h4>
						<p>
						<ul class="colorlib-footer-links">
							<li><a href="#">About us</a></li>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Support</a></li>
						</ul>
						</p>
					</div>

					<div class="col footer-col">
						<h4>Contact Information</h4>
						<ul class="colorlib-footer-links">
							<li>Shoezilla 3rd Floor, <br>Hilite Phase 1 <br>Kerala 673014</li>
							<li><a href="tel://1234567920">+ 701283873</a></li>
							{{!-- <li><a href="mailto:chithuworks@gmail.com">shoezilla@gmail.com</a></li> --}}
							<li><a href="#">www.shoezilla.com</a></li>
						</ul>
						<p>
						<ul class="colorlib-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
						</ul>
						</p>
					</div>
				</div>
			</div>
			<div class="copy" >
					<div class="col-sm-12 text-center" >
						<p>
							<span>Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</span>
							<span class="block">Demo Images: <a href="http://unsplash.co/"target="_blank">Unsplash</a>,<a href="http://pexels.com/" target="_blank">Pexels.com</a></span>
						</p>
					</div>
			</div>
		</footer>
		{{!-- FOOTER END HERE --}}

{{!--  --}GO UP BUTTON --}}
	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
	</div>
