

<div id="page">
<nav class="colorlib-nav" role="navigation">
			<div class="top-menu">
				<div class="container">
					<div class="row">
						<div class="col-sm-7 col-md-9">
							<div id="colorlib-logo"><img style="width: 100px; height:50px" src="/images/shoezilla.png" alt=""><a href="/">Shoe Zilla</a></div>
						</div>
						<div class="col-sm-5 col-md-3">
							<form action="/search" class="search-wrap" method="post">
								<div class="form-group">
									{{#if searchedValue}}
									<input type="search" class="form-control search" placeholder="Search" name="searchThings" value=" {{searchedValue}} " required>
									{{else}}
									<input type="search" class="form-control search" placeholder="Search" name="searchThings" required>
									{{/if}}
									<button class="btn btn-primary submit-search text-center" type="submit"><i class="icon-search"></i></button>
								</div>
							</form>
						</div>


					</div>
					<div class="row">
						<div class="col-sm-12 text-left menu-1">
							<ul>
								<li {{#if home}}class="active" {{/if}}><a href="/">Home</a></li>
								<li {{#if men}}class="active" {{/if}}><a href="/men">Men</a></li>
								<li {{#if women}}class="active" {{/if}}><a href="/women">Women</a></li>
								<li {{#if about}}class="active" {{/if}}><a href="">About</a></li>
								<li {{#if contact}}class="active" {{/if}}><a href="">Contact</a></li>
								<li class="cart"><a href="cart.html"><i class="icon-shopping-cart"></i> Cart [0]</a>
								</li>

								{{#if userName}}
								<a href="/userLogout"><input type="button" value="Logout"
										style="float: right;margin-top: -1px;margin-right: 15px;background-color: #88c8bc;border-radius: 10px;color: white; border: 1px solid rgba(0, 0, 0, 0.05) !important"></a>
								<p style="float: right; margin-right:15px "> <i
										style=" color: black !important; font-size: larger;margin-top: -4px ">{{userName}}</i>
								</p>
								{{else}}
								<a href="/userLogin"><input type="button" value="Login"
										style="float: right;margin-top: -1px;margin-right: 15px;background-color: #88c8bc;border-radius: 10px;color: white; border: 1px solid rgba(0, 0, 0, 0.05) !important"></a>
								{{/if}}
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="sale">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 offset-sm-2 text-center">
							<div class="row">
								<div class="owl-carousel2">
									<div class="item">
										<div class="col">
											<h3><a href="#">Welcome To ShoeZilla</a></h3>
										</div>
									</div>
									<div class="item">
										<div class="col">
											<h3><a href="#">Biggest Shoe Collections For Men And Women</a></h3>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nav>
    </div>