<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <u>WELCOME TO SHOE ZILLA</u></h1>
    {{#if userName}}
    <h3 >Customer Id =  {{userId}}</h3>
    <h2 style="color: green;"><span style="font-weight: 200; color:black">Hai</span>  <i>{{userName}}</i>  </h2>
        <a href="/userLogin"><button disabled >LOG IN</button></a>
         <a href="/userLogout"><button  >LOG OUT</button></a>
       {{else}}
        <a href="/userLogin"><button  >LOG IN</button></a>
         <a href="/userLogout"><button disabled >LOG OUT</button></a>
       {{/if}}
</body>
</html>