<div id="page">
    <div class="colorlib-product">
        <div class="container">
            <div class="row">    
                
		<div class="colorlib-about">
			<div class="container">
				<div class="row row-pb-lg">
					<div class="col-sm-6 mb-3">
						<div class="video colorlib-video" style="background-image: url(images/about.jpg);">
							<a href="https://www.youtube.com/watch?v=sw_vw2uuIlA" class="popup-vimeo"><i class="icon-play3"></i></a>
							<div class="overlay"></div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="about-wrap">
							<h2>ShoeZilla the leading eCommerce Store around the Globe</h2>
							<p>Welcome to ShoeZilla, the premier eCommerce destination for footwear enthusiasts around the globe. At ShoeZilla, we're passionate about providing top-quality shoes for both men and women, ensuring every step you take is a stylish and comfortable one.</p>
							<p>Our mission at ShoeZilla is simple: to offer an unparalleled shopping experience and a vast selection of footwear to suit every style and occasion. We aim to be your one-stop destination for all your shoe needs, providing exceptional customer service and unbeatable value.</p>
						</div>
					</div>
				</div>
			</div>
		</div>

                
               
            </div>
        </div>
    </div>
</div>