<style>
    .invalid {
        border: 1px solid red !important;
      
    }
</style>
<div id="colorlib-contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Contact Information</h3>
                <div class="row contact-info-wrap">
                    <div class="col-md-3">
                        <p><span><i class="icon-location"></i></span> SHOEZILLA 3RD FLOOR, <br> HILITE PHASE 1 <br>
                            KERALA 673014</p>
                    </div>
                    <div class="col-md-3">
                        <p><span><i class="icon-phone3"></i></span> <a href=""> 701283873</a></p>
                    </div>

                    <div class="col-md-3">
                        <p><span><i class="icon-globe"></i></span> <a href="#">WWW.SHOEZILLA.COM</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="contact-wrap">
                    <h3>Get In Touch</h3>
                    <form action="#" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" id="fname" name="firstName" class="form-control"
                                        placeholder="Maximum Letters Length 30">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lname">Last Name</label>
                                    <input type="text" id="lname" class="form-control"
                                        placeholder="Maximum Letters Length 30" name="lastName">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="text" id="email" class="form-control" placeholder="Your email address"
                                        name="mail">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="subject">Subject</label>
                                    <input type="text" id="subject" class="form-control"
                                        placeholder="Maximum Letters Length 30" name="subject">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="message">Message</label>
                                    <textarea name="message" id="message" cols="30" rows="10" class="form-control"
                                        placeholder="Say something about us (Maximum Letters 400)"></textarea>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input id="submitButton" type="submit" value="Send Message" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    $('.contact-form').submit(function (e) {
        e.preventDefault();
        let fname = $('#fname').val()
        let lname = $('#lname').val()
        let email = $('#email').val()
        let subject = $('#subject').val()
        let message = $('#message').val()

        let ismailValid = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/.test(email); // Basic email format

        let valid = 0
        if (fname.length <= 2 || fname.length >= 30) {
            $('#fname').addClass('invalid');
            valid++
        } else {
            $('#fname').removeClass('invalid');

        }
        if (lname.length >= 30) {
            $('#lname').addClass('invalid');
            valid++
        } else {
            $('#lname').removeClass('invalid');

        }

        if (!ismailValid) {
            $('#email').addClass('invalid');
            valid++
        } else {
            $('#email').removeClass('invalid');
        }

        if (subject.length <= 2 || subject.length >= 30) {
            $('#subject').addClass('invalid');
            valid++
        } else {
            $('#subject').removeClass('invalid');
        }


        if (message.length <= 10 || message.length >= 400) {
            $('#message').addClass('invalid');
            valid++
        } else {
            $('#message').removeClass('invalid');
        }

        if (valid == 0) {
            $('#submitButton').prop('disabled', true);
            $.ajax({
                url: "https://script.google.com/macros/s/AKfycbzdvdpHabRBQCftf01VQuAXxT5aVRLRyqME-7tNqKKxBZcj0DA0dtboMcHvN6tsmALC/exec",
                data: $(".contact-form").serialize(),
                method: "post",
                success: function (response) {
                    $('#submitButton').prop('disabled', false);
                    Swal.fire({
                        title: `Submitted Successfully`,
                        html: `Thank You`,
                        icon: "success",
                        didClose: () => {
                             window.location.reload();
                        }
                    });

                
                },
                error: function (err) {
                    alert("Something Error");
                }
            });

        } else {
            return;
        }




    })

</script>