<div id="page">
    <div class="colorlib-product">
        <div class="container">
            <div class="row">             
                <div class="col-12 col-sm-6 col-lg-4 my-3">
                    <div class="card">
                        <div class="card-body">
                            <i style="font-size: xxx-large;" class="fa-sharp fa-solid fa-truck-front  "> <span style="font-size: medium; letter-spacing: 2px;">Your Orders</span></i> 
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 my-3">
                    <div class="card">
                        <div class="card-body ">
                           <a href="/cartView"><i style="font-size: xxx-large;" class="fa-sharp fa-solid fa-cart-shopping  "> <span style="font-size: medium;letter-spacing: 2px;">Cart <span style="visibility: hidden !important;">jjjjjjjjj</span></span></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 my-3">
                    <div class="card">
                        <div class="card-body">
                           <a href="/userAddress"><i style="font-size: xxx-large;" class="fa-sharp fa-solid fa-map-location-dot"> <span style="font-size: medium;letter-spacing: 2px;">Address Mangement</span></i></a>
                        </div>
                    </div>
                </div>
                 <div class="col-12 col-sm-6 col-lg-4 my-3">
                    <div class="card">
                        <div class="card-body">
                            <a href="/profileDetails"><i style="font-size: xxx-large;" class="fa-sharp fa-solid fa-lock  w-75"> <span style="font-size: medium;letter-spacing: 2px;">Security</span></i></a>
                        </div>
                    </div>
                </div>
            </div>




        </div>
    </div>
</div>