<div class="content-wrapper">
    <div class="container-fluid">
        <!--Start Dashboard Content-->

        <div class="item">
            <div class="product-entry border">
                <a href="#" class="prod-img"><img src="https://www.surfstitch.com/on/demandware.static/-/Sites-ss-master-catalog/default/dw41aabbf1/images/564985BLK/BLACK-WOMENS-FOOTWEAR-CONVERSE-SNEAKERS-564985BLK_5.JPG" class="img-fluid" alt="Free html5 bootstrap 4 template"></a>
            </div>
        </div>

    </div>
</div>