.custom-swal-popup {
    width: 25%; /* Set your desired width here */
    background-size: cover;
    background-image: url(../images/bg-themes/1.png);
    color: black;
    border-radius: 10px;
    
  }

  .eye{
    color: white;
    font-size: larger;
    cursor: pointer;
    &:hover{
      color: black;
      font-size: x-large;
    }
  }

  #imgdiv img{
    width: 150px;
   margin-right: 8px;
  }